<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <!-- 
  See http://nlog-project.org/wiki/Configuration_file 
  for information on customizing logging rules and outputs.
   -->
  <targets>
    <!-- add your targets here -->
    
    <!--
    <target xsi:type="File" name="f" fileName="${basedir}/logs/${shortdate}.log"
            layout="${longdate} ${uppercase:${level}} ${message}" />
    -->
    <target name="console" xsi:type="ColoredConsole"
     layout="${date:format=HH\:mm\:ss}|${level}|${stacktrace}|${message}" />

    <!--<target name="file" xsi:type="File" fileName="${basedir}/App_Data//logs/site.log"
     layout="${date}: ${message}" />-->

    <target name="eventlog" xsi:type="EventLog" source="My App" log="Application"
    layout="${date}: ${message} ${stacktrace}" />
    
    <target name="database" xsi:type="Database"
            connectionString="data source=joelaptop4;Integrated Security=SSPI;database=halfpint;"
            dbProvider="System.Data.SqlClient"
            commandText="EXEC AddLogInfo @logDate,@level,@logger,@logMessage"
            keepConnection="false"
            >
      <parameter name="@logDate" layout="${date}"/>
      <parameter name="@level" layout="${level}"/>
      <parameter name="@logger" layout="${logger}"/>
      <parameter name="@logMessage" layout="${message}"/>
    </target>

    <target name="gmail" xsi:type="Mail"
            smtpServer="smtp.gmail.com"
            smtpPort="587"
            smtpAuthentication="Basic"
            smtpUserName="j.rezuke@gmail.com"
            smtpPassword="bigsky01"
            enableSsl="true"
            from="study@halfpintstudy.org"
            to="j.rezuke@verizon.net"
    />
  </targets>

  <rules>
    <!-- add your logging rules here -->
    
    <!--
    <logger name="*" minlevel="Trace" writeTo="f" />
    -->
    <logger name="*" minlevel="Fatal" writeTo="eventlog" />
    <logger name="*" minlevel="Info" writeTo="database" />
    <logger name="*" minlevel="Info" writeTo="console" />
    <logger name="*" minlevel="Error" writeTo="gmail" />
  </rules>
</nlog>